<div class="parent-container">
    <div class="todo-container">
        <app-task-menu></app-task-menu>
        <div class="task-list">
            <ul>
            <li *ngFor="let todo of filteredTaskList()" [ngClass]="itemClass(todo.id)">
                <a (click)="selectTask(todo.id)">{{todo.title}}</a>
                <button (click)="changeCompletion(todo.id)" class="checkbox">
                    <img *ngIf="todo.isCompleted" src="../../assets/completed-check-box.png" alt="completed">
                    <img *ngIf="!todo.isCompleted" src="../../assets/uncompleted-check-box.png" alt="uncompleted">
                </button>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet> 
</div>